.navbar
{
    float: left;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    width: 12%;
    background-color: #1E1E1E;
    /*padding: 1rem;*/
    position: fixed;
    padding: 7em 1em;
    top: 0;
    left: 0;
    height:100vh
}
.navitem
{
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-decoration: none;
    margin: .25rem 0;
    border-radius: 2px;
}

.nav-text
{
    display: flex;
    align-items: center;
    justify-content:start;

    padding: 0.5rem 0;
    font-size: large;
    color: rgb(96, 96, 96);
    min-width: 10rem;
    text-align: left;
}

.navitem-bold
{
    font-weight: bold;
    background-color: #6F6F6F;
    .nav-text{
        color: white;
    }
}

.open-sans-text
{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.navitem:hover
{
    background-color: #6F6F6F;
    .nav-text{
        color: white;
    }
}
















