.navbar
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 12%;
    background-color: #232323;
    border-radius: 20px;
    padding: 1rem;
}
.navitem
{
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 10vh;
    text-decoration: none;
    color: white;
    width: 100%;

}

.nav-text
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: large;
    border: white 2px solid;
    border-radius: 20px;
}

















